
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-base: 'Lexend', sans-serif;;
  --font-second-base: 'Inter', sans-serif;
  --bg-color:#111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}

/* General Mobile (max-width: 600px) */
@media (max-width: 740px) {
  body {
    font-size: 14px;
    padding: 10px;
    
  }.header-right{
    display: none;
  }
.header-left{
display: contents;
}
.footer-icons ,.service-code,.copy-write{
  display: none;
}
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
  }
}

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .hero-section {
    padding: 20px;
  }
  .footer-icons ,.service-code,.copy-write{
  display: none;
}
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
  }
}

